{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}<font size="9"> About Us{% endblock %}</font></h1>
{% endblock %}

{% block content %}
  <p1><font size="6"> King Shop is a book shop. It help customer buy book easily. Nowaday, lots of citizen are busy, they do not know what kinds of book are new and what is the name of it. <p1><br><br>

  <p2>In King Shop, customer can find out the book title, details of book and what is the book talking about. After it they can buy the book they want with the buy button. There are lots of book must have one customer like.</p1>
{% endblock %}